{% extends "base.html" %}
{% load static %}
{% block title %} - تعديل الإدارة{% endblock %}

{% block css %}
    <!-- *************
        ************ Vendor Css Files *************
    ************ -->
    <!-- Data Tables -->
    <style>
        #departments-container .mb-3:last-child{
            margin: 0 !important;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'departments' %}">الجهات والإدارات</a></li>
    <li class="breadcrumb-item active">تعديل الإدارة</li>
{% endblock %}
{% block content %}
    <!-- Row start -->
    <div class="row gutters justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12">
            {% include 'messages.html' %}
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="card m-0">
                    <div class="card-header">
                        <div class="card-title">تعديل الإدارة</div>
                        <div class="card-sub-title">{{ name }}</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group row gutters">
                            <label for="name" class="col-sm-3 col-form-label text-right">إسم الإدارة</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" value="{{ name }}" placeholder="إسم الإدارة" required>
                                    <div class="invalid-feedback">إسم الإدارة مطلوب</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row gutters">
                            <label for="agent_id" class="col-sm-3 col-form-label text-right">الوكالة</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select class="form-control form-control-lg" id="agent_id" name="agent_id" required>
                                        {% for agent in agents %}
                                        <option value="{{ agent.id }}" {% if agent_id == agent.id %}selected{% endif %}>{{agent.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">الوكالة مطلوبة</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row gutters">
                            <label for="parent_id" class="col-sm-3 col-form-label text-right">الإدارة التابعة لها</label>
                            <div class="col-sm-9" id="departments-container"></div>
                            <input type="hidden" name="parent_id" id="parent_id">
                        </div>
                        
                        <button type="submit" id="submit" name="submit" class="btn btn-primary float-right">تعديل</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Row end -->
{% endblock %}

{% block js %}
    <script>
        const container = document.getElementById('departments-container');
        const hiddenInput = document.getElementById('parent_id');
        const agent_in_first = 1;

        loadDepartments(null, agent_in_first);

        document.getElementById('agent_id').addEventListener('change', function(){
            const parentId = hiddenInput.value || null;
            const agentId = this.value;

            container.innerHTML = '';
            hiddenInput.value = null;
            loadDepartments(parentId, agentId);
        });
        
        function loadDepartments(parentId, agentId) {
            let url = "{% url 'departments_by_agent' %}";
            if (parentId !== null) {
                const params = new URLSearchParams({
                    parent_id: parentId,
                    agent_id: agentId
                });
                url += `?${params.toString()}`;
            }else{
                url += `?agent_id=${agentId}`;
            }

            fetch(url)
                .then(res => res.json())
                .then(data => {
                    if (data.length === 0){
                        if (parentId === null) {
                            container.innerHTML += '<div class="input-group"><p>لا يوجد بها إدارة ليتبعها</p></div>';
                        }
                    }else{
                        const wrapper = document.createElement('div');
                        wrapper.className = 'input-group mb-3';

                        const select = document.createElement('select');
                        select.className = 'form-control form-control-lg';
                        select.innerHTML = `<option value="">اختر القسم</option>`;

                        data.forEach(dep => {
                            const option = document.createElement('option');
                            option.value = dep.id;
                            option.textContent = dep.name;
                            select.appendChild(option);
                        });

                        select.onchange = function () {
                            while (wrapper.nextSibling) {
                                wrapper.nextSibling.remove();
                            }

                            if (this.value) {
                                hiddenInput.value = this.value;
                                loadDepartments(this.value, agentId);
                            }
                        };

                        wrapper.appendChild(select);
                        container.appendChild(wrapper);
                    }
                });
        }
    </script>
{% endblock %}